@charset "UTF-8";
* {
  font-family: a-otf-ud-shin-go-pr6n,sans-serif;
  font-weight: 300;
  font-style: normal;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fafafa;
  /*font-size: 14px;*/
}

img {
  object-fit: contain;
}

a {
  color: #444;
}

header {
  position: fixed;
  display: flex;
  width: calc(100% - 4rem);
  height: 4rem;
  margin-top: 1rem;
  border-radius: .5rem;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0rem .15rem .6rem;
  color: #444;
}
header > * {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
header .logo {
  min-width: 12rem;
  margin-left: 1rem;
}
header .logo img {
  max-width: 8rem;
  cursor: pointer;
}
header .links {
  justify-content: flex-start;
  flex-grow: 2;
  overflow: hidden;
}
header .links .link-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 2rem);
  padding: 0 1rem;
  border-radius: 1rem;
}
header .links .link-outer a {
  font-size: 1.2rem;
  text-decoration: none;
  white-space: nowrap;
}
header .links .link-outer:hover {
  background: #f8f8f8;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 6rem;
  padding-bottom: 1rem;
  overflow-y: hidden;
  color: #444;
}
.wrapper .search-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5rem 0;
  width: calc(100% - 2rem);
  height: 2.5rem;
}
.wrapper .search-outer .search {
  width: 100%;
  height: 1.8rem;
  padding-left: .5rem;
  border-radius: .5rem;
  border: 1px solid #ccc;
  outline: none;
  background: white;
  font-size: 1rem;
  font-family: a-otf-ud-shin-go-pr6n, FontAwesome, sans-serif;
}
.wrapper .search-outer .search:focus {
  border-color: #007aff;
}
.wrapper .subject.query-hidden {
  display: none;
}
.wrapper .not-found {
  display: block;
  opacity: .6;
  font-size: .9rem;
}
.wrapper .not-found.hidden {
  display: none;
}
.wrapper .block {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 20rem;
  height: 3.5rem;
  margin-bottom: 2rem;
  border-radius: .8rem;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0rem .15rem .6rem;
}
.wrapper .block .waittime {
  position: absolute;
  display: block;
  bottom: -2rem;
  left: 50%;
  height: 1.5rem;
  padding-left: .5rem;
  padding-bottom: .25rem;
  padding-top: .25rem;
  border-left: 2px solid #ddd;
  color: #777;
  font-size: .9rem;
  line-height: 1.5rem;
}
.wrapper .block .waittime input {
  position: absolute;
  border: none;
  padding: 0 .2rem;
  background: none;
  outline: none;
  width: 8rem;
  color: #777;
  font-size: .9rem;
  white-space: nowrap;
  transition: .2s;
}
.wrapper .block .waittime input:focus {
  color: #007aff;
  border-bottom: .1rem solid #007aff;
}
.wrapper .block:last-child .waittime {
  opacity: 0;
}
.wrapper .block .icon-outer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 2.5rem;
  height: 100%;
}
.wrapper .block .icon-outer .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: .3rem;
  background: #3B3B3B;
}
.wrapper .block .icon-outer .icon i {
  color: #fff;
}
.wrapper .block .content {
  display: flex;
  align-items: center;
  flex-grow: 2;
  font-size: 1.1rem;
  margin-left: -.2rem;
  padding-left: 1rem;
  height: 3rem;
  overflow-x: scroll;
  white-space: nowrap;
}
.wrapper .block .content::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}
.wrapper .block .content .text {
  margin: 0 .2rem;
}
.wrapper .block .content .select {
  margin: 0 .2rem;
  padding: .2rem .4rem;
  border-radius: .5rem;
  color: #3B3B3B;
  background: rgba(59, 59, 59, 0.12);
  cursor: pointer;
  transition: .2s;
}
.wrapper .block .content .select.focused {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.16) 0rem .15rem .6rem;
}
.wrapper .block .content .select .storage {
  display: none;
}
.wrapper .block.kind-track .icon {
  background: #ff9900;
}
.wrapper .block.kind-track .select {
  color: #ff9900;
  background: rgba(255, 153, 0, 0.12);
}
.wrapper .block.kind-track .select.focused {
  outline: .1rem solid #ff9900;
}
.wrapper .block.kind-time .icon {
  background: #f1c300;
}
.wrapper .block.kind-time .select {
  color: #f1c300;
  background: rgba(241, 195, 0, 0.12);
}
.wrapper .block.kind-time .select.focused {
  outline: .1rem solid #f1c300;
}
.wrapper .block.kind-type .icon {
  background: #35a16b;
}
.wrapper .block.kind-type .select {
  color: #35a16b;
  background: rgba(53, 161, 107, 0.12);
}
.wrapper .block.kind-type .select.focused {
  outline: .1rem solid #35a16b;
}
.wrapper .block.kind-station .icon {
  background: #66ccff;
}
.wrapper .block.kind-station .select {
  color: #66ccff;
  background: rgba(102, 204, 255, 0.12);
}
.wrapper .block.kind-station .select.focused {
  outline: .1rem solid #66ccff;
}
.wrapper .block.kind-form .icon {
  background: #FF99A0;
}
.wrapper .block.kind-form .select {
  color: #FF99A0;
  background: rgba(255, 153, 160, 0.12);
}
.wrapper .block.kind-form .select.focused {
  outline: .1rem solid #FF99A0;
}
.wrapper .block.kind-fixed .icon {
  background: #c7b1de;
}
.wrapper .block.kind-fixed .select {
  color: #c7b1de;
  background: rgba(199, 178, 222, 0.12);
}
.wrapper .block.kind-fixed .select.focused {
  outline: .1rem solid #c7b1de;
}
.wrapper .block .remove-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1.5rem;
  height: 1.5rem;
  margin: 0 1rem;
  border-radius: 50%;
  background: #eee;
  cursor: pointer;
  transition: .1s;
}
.wrapper .block .remove-btn:hover {
  transform: scale(1.2);
  background: #FF3E42;
  color: white;
}
.wrapper .block .remove-btn i {
  pointer-events: none;
}
.wrapper .panel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  width: 20rem;
  border-radius: .5rem;
  margin: 0 2rem;
  padding: .25rem 0;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0rem .15rem .6rem;
  overflow-x: visible;
  overflow-y: hidden;
}
.wrapper .panel-container .panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  margin: .25rem .5rem;
  width: calc(100% - 1rem);
  border-radius: .5rem;
  background: #f4f4f4;
  overflow: hidden;
  user-select: none;
}
.wrapper .panel-container .panel.panel-pallet {
  flex-shrink: 2;
}
.wrapper .panel-container .panel.panel-pallet .not-found {
  margin-bottom: .5rem;
}
.wrapper .panel-container .panel.closed {
  max-height: 3rem;
}
.wrapper .panel-container .panel.closed .arrow {
  transform: rotate(-90deg);
}
.wrapper .panel-container .panel.ctrl-btn {
  flex-direction: row;
  justify-content: center;
  height: 4rem;
}
.wrapper .panel-container .panel.ctrl-btn .btn-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  font-size: 2.2rem;
  cursor: pointer;
  transition: .1s;
}
.wrapper .panel-container .panel.ctrl-btn .btn-outer:hover {
  transform: scale(1.1);
  color: #007aff;
}
.wrapper .panel-container .panel.ctrl-btn .btn-outer i {
  display: none;
}
.wrapper .panel-container .panel.ctrl-btn .btn-outer i.shown {
  display: block;
  animation: .2s ease 0s 1 bounceLowIn forwards;
}
@keyframes bounceLowIn {
  0% {
    transform: scale(0.8);
    opacity: .9;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
.wrapper .panel-container .panel.ctrl-btn .forward-btn, .wrapper .panel-container .panel.ctrl-btn .backward-btn {
  font-size: 2rem;
}

.wrapper .panel-container .downloadFile a {
  display: block;
  margin: 1rem;
}

.wrapper .panel-container .panel .panel-title {
  display: flex;
  align-items: center;
  width: calc(100% - 2rem);
  flex-shrink: 0;
  height: 2rem;
  padding: .5rem 1rem;
  cursor: pointer;
}
.wrapper .panel-container .panel .panel-title * {
  display: block;
}
.wrapper .panel-container .panel .panel-title .arrow {
  transition: .1s;
}
.wrapper .panel-container .panel .panel-title .title-inner {
  margin-left: .8rem;
}
.wrapper .panel-container .panel .panel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: .5rem;
  overflow: hidden;
}
.wrapper .panel-container .panel .panel-content .preset {
  position: relative;
  display: flex;
  align-items: center;
  width: calc(100% - 2rem);
  height: 2.5rem;
  padding-left: 1rem;
  border-radius: .25rem;
  cursor: pointer;
}
.wrapper .panel-container .panel .panel-content .preset:after {
  position: absolute;
  right: 1rem;
  padding-left: 2rem;
  content: attr(add-option);
  font-size: .8rem;
  line-height: 1.2rem;
  background: linear-gradient(90deg, rgba(254, 254, 254, 0) 0%, #fefefe 20%);
  color: #aaa;
  opacity: 0;
}
.wrapper .panel-container .panel .panel-content .preset:hover {
  background: rgba(255, 255, 255, 0.8);
}
.wrapper .panel-container .panel .panel-content .preset:hover:after {
  opacity: 1;
}
.wrapper .panel-container .panel .panel-content .preset span {
  pointer-events: none;
}
.wrapper .panel-container .panel .panel-content .block-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 2rem);
  border-radius: .25rem;
  padding-left: 8px;
  padding-right: 12px;
  overflow-x: hidden;
  overflow-y: scroll;
  transform: translateX(2px);
}
.wrapper .panel-container .panel .panel-content .block-outer .block {
  /*transform: scale(calc((20 - 4) / 20)); scrollbarありver*/
  transform: scale(calc((20 - 4) / 20));
  margin-bottom: .1rem;
  overflow: hidden;
  cursor: pointer;
}
.wrapper .panel-container .panel .panel-content .block-outer .block .content {
  margin-right: .8rem;
  overflow-x: hidden;
}
.wrapper .panel-container .panel .panel-content .block-outer .block .waittime {
  display: none;
}
.wrapper .panel-container .panel .panel-content .block-outer .block:after {
  content: "追加";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0;
}
.wrapper .panel-container .panel .panel-content .block-outer .block:hover:after {
  opacity: .9;
}
.wrapper .panel-container .panel .panel-content .block-outer .block .remove-btn {
  display: none;
}
.wrapper .field {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
}
.wrapper .field .block-tree {
  display: flex;
  flex-direction: column;
  user-select: none;
  align-items: center;
  width: calc(22rem + 2rem);
  height: calc(100% - 1rem);
  padding-top: 1rem;
  overflow-x: overlay;
  overflow-y: scroll;
}
.wrapper .field .block-tree.disabled {
  cursor: not-allowed;
}
.wrapper .field .block-tree.disabled * {
  pointer-events: none;
}
.wrapper .field .block-tree.disabled .select {
  opacity: .6;
}
.wrapper .field .block-tree .nd-dragging {
  display: none;/*
  opacity: .5;
}
.wrapper .field .block-tree .nd-dragging * {
  opacity: 0;*/
}
.wrapper .field .block-tree .tree-inner {
  position: relative;
}
.wrapper .field .block-tree .tree-inner .prediction {
  position: relative;
  display: none;
  align-items: center;
  flex-shrink: 0;
  width: 20rem;
  height: 3.5rem;
  margin-bottom: 2rem;
  border-radius: .8rem;
  background: white;
  outline: solid .2rem #007aff;
  box-shadow: rgba(0, 0, 0, 0.16) 0rem .15rem .6rem;
  opacity: .5;
}
.wrapper .field .block-tree .block {
  animation: .5s ease 0s 1 bounceIn forwards;
}
.wrapper .field .block-tree .block .content {
  cursor: move;
}
.wrapper .field .block-tree .block .content .select {
  cursor: pointer;
}
.wrapper .field .block-tree .block.playing {
  transform: scale(1.1);
  outline: .2rem solid rgba(0, 122, 255, .5);
}
@keyframes bounceIn {
  0% {
    transform: scale(1.2);
    opacity: 0;
  }
  20% {
    transform: scale(0.85);
    opacity: 1;
  }
  40% {
    transform: scale(1.05);
    opacity: .9;
  }
  70% {
    transform: scale(0.99);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
.wrapper .field .block-tree .add-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 20rem;
  height: 3.5rem;
  margin-bottom: 2rem;
  border-radius: .8rem;
  background: #eaeaea;
  cursor: pointer;
}
.wrapper .field .block-tree .add-btn .plus-icon {
  pointer-events: none;
  user-select: none;
  font-size: 2rem;
  opacity: .4;
}
.wrapper .field .menu-wrapper {
  position: absolute;
  left: calc(50% + 12rem);
  transform-origin: left;
  transition: .2s;
  z-index: 0;
}
.wrapper .field .menu-wrapper.hidden {
  transform: scale(0);
}
.wrapper .field .menu-wrapper .not-found {
  margin: .5rem 0;
}
.wrapper .field .menu-wrapper .menu-outer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 12rem;
  max-height: 13rem;
  border-radius: .8rem;
  padding: .5rem 0;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0rem .15rem .6rem;
  transition: .2s;
}
.wrapper .field .menu-wrapper .menu-outer:before {
  content: "";
  position: absolute;
  top: calc(50% - .75rem);
  left: -.75rem;
  width: 1.5rem;
  height: 1.5rem;
  transform: rotate(45deg);
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0rem .15rem .6rem;
  z-index: -1;
}
.wrapper .field .menu-wrapper .menu-outer .search-outer {
  margin: 0;
  width: calc(100% - 1rem);
  height: auto;
}
.wrapper .field .menu-wrapper .menu-outer .search-outer .search {
  width: calc(100% - 1rem);
  height: 1.5rem;
  padding-left: .5rem;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ccc;
  background: white;
  font-family: a-otf-ud-shin-go-pr6n, FontAwesome, sans-serif;
}
.wrapper .field .menu-wrapper .menu-outer .menu-content {
  width: calc(100% - 1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 2;
  margin-top: .25rem;
  user-select: none;
  border-radius: .5rem;
  overflow-y: scroll;
}
.wrapper .field .menu-wrapper .menu-outer .menu-content.kind-track .option:hover {
  background: #ff9900;
}
.wrapper .field .menu-wrapper .menu-outer .menu-content.kind-time .option:hover {
  background: #f1c300;
}
.wrapper .field .menu-wrapper .menu-outer .menu-content.kind-type .option:hover {
  background: #35a16b;
}
.wrapper .field .menu-wrapper .menu-outer .menu-content.kind-station .option:hover {
  background: #66ccff;
}
.wrapper .field .menu-wrapper .menu-outer .menu-content.kind-form .option:hover {
  background: #FF99A0;
}
.wrapper .field .menu-wrapper .menu-outer .menu-content.kind-fixed .option:hover {
  background: #c7b1de;
}
.wrapper .field .menu-wrapper .menu-outer .menu-content::-webkit-scrollbar {
  display: none;
}
.wrapper .field .menu-wrapper .menu-outer .menu-content .option {
  width: 100%;
  height: 2rem;
  font-size: .9rem;
  line-height: 2rem;
  border-radius: .5rem;
  cursor: pointer;
}
.wrapper .field .menu-wrapper .menu-outer .menu-content .option:hover {
  color: #fff;
}
.wrapper .field .menu-wrapper .menu-outer .menu-content .option .option-name {
  margin-left: 2rem;
  pointer-events: none;
}

.emphasis {
  animation: .4s linear 0s 1 emphasis forwards;
}

@keyframes emphasis {
  0% {
    outline: 0.2rem solid #007aff;
  }
  100% {
    outline: 0rem solid #007aff;
  }
}
